[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "microbats"]
	path = microbats
	url = https://github.com/cran/microbats
[submodule "patternator"]
	path = patternator
	url = https://github.com/cran/patternator
